h1{
font-family: : Verdana;
font-weight: normal;
font-size: 50px;
color: white;
text-align: center;
}
.download{
color: Aquamarine;
font-size: 16px;
text-align: center;
text-decoration:underline;
}

p{
font-family:Verdana;
font-size: 21 px;
color: Gray;
text-align: center;
}
h2{
font-family: Verdana;
font-weight: 300;
font-size: 42 px;
color: white;
text-align: center;}

.app{
background-color: black;
text-align:center
color:white;
}

body{
background-color: black;
text-align: center;
display block;
}

.footer{
  text-align: right;
  color: gray;
}
